<form action="/posts/<%=@post.id%>/edit" method="post">
	<input type="text" name="title" value="<%=@title%>">
	<textarea name="body" cols="70" rows="10"><%=@body%></textarea>
	<input type="submit">
</form>